DB_HOST=localhost
DB_PORT=3306
DB_NAME=connectsphere
DB_USERNAME=root
DB_PASSWORD=root

JWT_SECRET=c29tZS12ZXJ5LWxvbmctc2VjcmV0LWtleS1mb3ItY29ubmVjdHNwaGVyZS1qd3QtdG9rZW4tZ2VuZXJhdGlvbi1hbmQtdmFsaWRhdGlvbg==

CORS_ORIGINS=http://localhost:5173

UPLOAD_DIR=./uploads

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
